*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: none !important;
}

body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  transform: rotate(65deg);
  pointer-events: none;
  margin: 0;
  overflow: hidden;
  background: rgba(231, 5, 50, 0.255);
  border-radius: 100% 0 0 0;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
